Directory(
    is_ordered: true,
    page: None,
    title: Title(
        en: "Home",
        es: "Home",
        pt: "Home",
        fr: "Home",
        de: "Home",
    ),
    pages: [
        Page(title: Title (
            en: "Introduction",
            es: "Introducción",
            pt: "Introdução",
            fr: "Introduction",
            de: "Einführung",
        ), page: "introduction"),
        Directory(
            is_ordered: true,
            page: Some("introduction-guess"),
            title: Title (
                en: "Guess the number",
                es: "Adivina el número",
                pt: "Adivinhe o número",
                fr: "Devinez le nombre",
                de: "Errate die Zahl",
            ),
            pages: [
                Page(title: Title (
                    en: "First line",
                    es: "Primera línea",
                    pt: "Primeira linha",
                    fr: "Première ligne",
                    de: "Erste Zeile",
                ), page: "first-line"),
                Page(title: Title (
                    en: "Second line",
                    es: "Segunda línea",
                    pt: "Segunda linha",
                    fr: "Deuxième ligne",
                    de: "Zweite Zeile",
                ), page: "second-line"),
                Page(title: Title (
                    en: "Print line",
                    es: "Print línea",
                    pt: "Print linha",
                    fr: "Print la ligne",
                    de: "Print line",
                ), page: "print-line"),
                Page(title: Title (
                    en: "Repeat Until",
                    es: "Repetir hasta",
                    pt: "Repetir até",
                    fr: "Répéter jusqu'à",
                    de: "Wiederholen bis",
                ), page: "repeat-until"),
                Page(title: Title (
                    en: "Read",
                    es: "Read",
                    pt: "Read",
                    fr: "Read",
                    de: "Read",
                ), page: "read"),
                Page(title: Title (
                    en: "Checking for the number",
                    es: "Comprobando el número",
                    pt: "Verificando o número",
                    fr: "Vérification du nombre",
                    de: "Überprüfung der Zahl",
                ), page: "checking-the-number"),
                Page(title: Title (
                    en: "The end ?",
                    es: "¿El final?",
                    pt: "O fim?",
                    fr: "La fin ?",
                    de: "Das Ende ?",
                ), page: "end"),
            ],
        ),
    ],
)

