body {
  display: flex;
  flex-direction: row;
  background: #181818;
  width: 100vw;

  > main {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-grow: 10; */
    padding-inline: 16px;
    width: 100%;
    position: relative;
    height: calc(100vh - 16px);
    overflow: scroll;
    padding-bottom: 16px;
  }
}


main main {
  max-width: 1100px;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);


  ul {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}



header {
  text-align: center;
  position: relative;

  h1 {
    font-size: 38px;
    margin-block: 6px;
  }

  h2 {
    font-size: 28px;
    margin-block: 3px;
    opacity: 0.8;
  }

  .spacer {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background: #666;
  }

  #lua-title {
    color: #4466FF;
  }

  #flags {
    position: absolute;
    top: 16px;
    right: 16px;

    > button {
      position: absolute;
      right: 0px;
      display: grid;
      justify-content: center;
      align-items: center;
      z-index: 1;
      background: #222;
      cursor: pointer;
      height: 40px;
      transition: .3s;
      aspect-ratio:  1/1;
      border-radius: 8px;

      &:hover {
        background: #333;
      }

      img {
        width: 24px;
      }
    }

    ul {
      display: none;
      right: 0px;
      list-style: none;
      margin-top: 50px;


      img {
        height: 30px;
      }
    }

    &.visible {
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

pre {
  padding: 10px;
  border-radius: 10px;
  background: #333;
  overflow: scroll;
}


footer.buttons-previous-next {
  max-width: 1100px;
  margin-top: 24px;
  z-index: 0;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none;

  button {
    pointer-events: auto;

    &.previous {
      &::before {
        content: "<";
        opacity: 0;
        margin-right: -8px;
        transition: .3s;
      }

      &:hover {
        &::before {
          opacity: 1;
          margin-right: 4px;
        }
      }
    }

    &.next {
      &::after {
        content: ">";
        opacity: 0;
        margin-left: -8px;
        transition: .3s;
      }

      &:hover {
        &::after {
          opacity: 1;
          margin-left: 4px;
        }
      }
    }
  }
}

#hidden-code {
  display: none;
  $p: 16px;

  & > * {
    width: calc(100% - 20px);
    height: 100%;
    margin: 0px;
    text-align: left !important;
  }

  &.visible {
    display: flex !important;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    background: #222;
    border-radius: 8px;
    padding: $p;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "Close";
      padding-block: 8px;
      text-align: center;
      border-radius: 8px;
      background: #4466F8;
      transition: .3s;
    }
  }
}


#toggle-code {
  bottom: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: -57px;
  position: absolute;
  z-index: 1;

  &::before {
    content: "Show full code";
  }
}

code {
    margin-inline: 2px;
    padding-inline: 6px;
    border-radius: 4px;
    background: #2d2d2d;
}

.footnote-definition {
  .footnote-definition-label {
    font-size: 15px;
    &::after {
      content: "";

    }

  }

  p {
    display: inline;
    font-size: 14px;

  }
}


.for-technical {
  > button {
    border: none;
    background: #975;
    border-radius: 4px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    padding-inline: 8px;
    font-size: 16px;

    &:hover {
      background: #A86;
    }
  }

  > p {
    display:  none;
  }

  > p.visible {
    border-left: 4px solid #975;
    padding-left: 16px;
    display: block !important;
  }
}
